body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    padding: 10px 20px;

}

.product-details {
    border-radius: 10px;
}

.product-details .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.product-details .cont h1{
    color: red;
    font-size: 40px;
}
.product-details .cont p{
    transform: translate(-200px,80px);
    font-size: 20px;
}

.product-details .cont img {
    width: 400px;
    border-radius: 8px;
    /* margin-left: 100px; */
}

@media(min-width:980px){
    .product-details .cont img {
        transform: translateX(-70px);
    }
}
/* .product-details .info {
    flex: 1;
    text-align: right;
} */

.section {
    margin-top: 25px;
    padding:  30px;
    background-color: #1854bdfa;
    border-radius: 8px;
    color: white;
}

.section h2 {
    font-size: 60px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.section p {
    font-size: 30px;
    line-height: 2;
    text-align: right;
    direction: rtl;
}
@media (max-width: 768px) {
    .product-details .cont {
        flex-direction: column;
        text-align: center;
    }
  
    .product-details .info {
        text-align: center;
    }
    .product-details .cont p{
        transform: translate(5px,-50px);
        font-size: 20px;
        padding-top: 30px;
        /* padding-bottom: 30px; */
    }
    .section {
        background-color:rgb(8, 234, 129);
        width: 100%;
        padding: 20px 10px;
        /* margin-right: 50px; */
    }

    .section p {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 25px;
        color: black;
    }

    .section h2 {
        font-size: 50px;
        color: #1854bdfa;
        text-align: center;
    }
    .container {
        margin-right: 25px;
    }
    .product-details .cont img {
        width: 300px;
    }

}

.back{
    text-align: right;
    padding: 40px 0;
    
}
@media(max-width:667px){
    .back a{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: flex-end;

    } 
 
}
.back a{
    margin-left: 20px;
   background-color: #1854bdfa;
   color: white;
   padding:10px 15px ;
   font-size: 20px;
   text-decoration: none;
   border-radius: 7px;
   transition: 0.3s;
}
.back a:hover{
    text-decoration: underline;
}

.back-to{
    text-align: right;
    padding: 40px 0;
}
.back-to a{
    margin-left: 15px;
   background-color: #1854bdfa;
   color: white;
   padding:10px 20px ;
   font-size: 30px;
   text-decoration: none;
   border-radius: 7px;
   transition: 0.3s;
}
.back-to a:hover{
    text-decoration: underline;
}



